@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden;
}

.bek {
    position: absolute;
    animation: bek  10s infinite ;
    transform: translateX(-500px);
}

.bek p {
    font-size: 150px;
    color: rgba(236, 85, 85, 0.87);
    
}

@keyframes bek {
    to {
        transform: translateX(120%);
    }
}

body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/bg.jpg);
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.clear{
    float: none;
    clear: both;
}

.header2{
    min-height: 10vh;
	width:100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/bg.jpg);
	background-position: 1;
	background-size: cover;
    color: white;
}
.header2 a{
    float: right;
    margin: 30px;
    color: white;
    margin-right: 200px;
    word-spacing: 5px;
}
.text-box2 {
	color: #fff;
	text-align: center;
    font-size: 30px;
    margin-top: 100px;
    font-family: 'Alexandria', sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: grid;
  margin-top: 5.2rem;
}

.wrapper .title {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  margin:  0 auto ;
  display: flex;
  flex-wrap: wrap;
}

.container .option_item {
  display: block;
  position: relative;
  width: 300px;
  height: 175px;
  margin: 10px;
}

.container .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #162052;
  border-radius: 5px;
  text-align: center;
  padding: 30px 40px;
  cursor: pointer;
  color: white;
  display: block;
  border: 5px solid transparent;
  position: relative;
  transition: all 300ms ease;
}

.option_item .option_inner:hover {
  transform: scaleY(1.1);
}

.option_item .option_inner .icon {
  margin-bottom: 10px;
}

.option_item .option_inner .icon {
  font-size: 3.5rem;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked ~ .option_inner.whatsapp {
  border-color: #25d366;
  
}


.option_item .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  display: none;
}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}


.option_item .option_inner.whatsapp .tickmark {
  border-color: #25d366 transparent transparent #25d366;
}

.btn-submit {
    margin: 20px 0 20px 13rem;
}

.estima {
    color: white;
    border: none;
    cursor: pointer;
    background-color: #162052;
    padding: 10px;
    border-radius: 12px;
}

.hey {
    margin-top: 1.2rem;
    display: grid;
    place-items: center;
}

.hey .title {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}

.container2 {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.container2 .img {
   overflow: hidden;
}

.container2 .img i {
    font-size: 4rem;
    color: white;
    object-fit: cover;
    user-select: none;
}

.container2 .card {
    background-color: #162052;
    margin: 0 1rem;
    padding: 2rem;
    display: flex;
    width: 210px;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
    border: .5rem solid transparent;
    transition: 200ms ease-in-out transform;
}
.container2 .check_btn {
    position: absolute;
    top: 8%;
    right: 8%;
    background-image: linear-gradient(#070c1f, #070c1f),url(../img/bg2.png);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
}
.container2 .fa-check {
    color: #fff;
}
.container2 .title {
    margin: 1.5rem 0;
    color: white;
    font-size: 15px;
    font-weight: 400;

}


.container2 .card:hover {
    transform: scale(1.02)
}
.container2 .card:active {
    transform: scale(.97)
}

.container2 input[id="card_one"]:checked ~ label[for="card_one"] .card,
.container2 input[id="card_two"]:checked ~ label[for="card_two"] .card,
.container2 input[id="card_three"]:checked ~ label[for="card_three"] .card,
.container2 input[id="card_four"]:checked ~ label[for="card_four"] .card {
    border-color: #25d366;
}

.container2 input[id="card_one"]:checked ~ label[for="card_one"] .card .check_btn,
.container2 input[id="card_two"]:checked ~ label[for="card_two"] .card .check_btn,
.container2 input[id="card_three"]:checked ~ label[for="card_three"] .card .check_btn,
.container2 input[id="card_four"]:checked ~ label[for="card_four"] .card .check_btn {
    background-color: #25d366;
}


.container2 input[id="card_one"]:checked ~ label[for="card_one"] .card .tickmark,
.container2 input[id="card_two"]:checked ~ label[for="card_two"] .card .tickmark,
.container2 input[id="card_three"]:checked ~ label[for="card_three"] .card .tickmark,
.container2 input[id="card_four"]:checked ~ label[for="card_four"] .card .tickmark {
  display: block;
}

.container2 input {
    display: none;
}


.container2 .card .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  display: none;
}

.container2 .card .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.container2 .card:checked ~ .option_inner .tickmark {
  display: block;
}



.container2 .card.active .tickmark {
  border-color: #25d366 transparent transparent #25d366;
}



/* .esti{
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.selec{
    text-align: center;
    font-size: 30px;
    border-radius: 1.5rem;
    background: transparent;
    color: white;
    width: 700px;
    margin-top: 20px;
}
option{
    border-radius: 1.5rem;
    color: black;
    font-size: 20px;
    background: transparent;
}

.hehe{
    margin-top: 50px;
    text-align: center;
    margin: 50px auto 20px;
    width: 700px;
}
input, select{
    margin: 0 0 30px 0;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 500px;
}

label{
    align-items: center;
    position: absolute;
    margin-left: -480px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus{
    outline: none;
    border: 1.5px solid #1a73c8;
}
input:focus ~ label,
label.small{
    transform: translateY(-50%) scale(0.8);
    background-image: linear-gradient(#070c1f, #070c1f),url(../img/bg2.png);
    padding: 0 0.2rem;
    color: #2196f3;
}
.konten-estimasi{
    display: none;
}
.konten-estimasi.show{
    display: block;
}


button{
    margin: 0 100px auto;
    background: rgb(1, 11, 39);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0,2s;
    text-decoration: none;
}
button a{
    color: white;
}
button span{
    display: block;
    margin-left: 0.3em;
}
button i{
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
button:hover .wrapper{
    animation: fly 0.6s ease-in-out infinite alternate;
}button:hover span{
    animation: fly 0.6s ease-in-out infinite alternate;
}

button:active{
    transform: scale(0.95);
} */
@keyframes fly{
    from {transform: translateY(0.1em);}
    to {transform: translateY(-0.1em);}
}