/* Background */
/*======= design konten ===== */
/* ----------------------  ABOUT-HOME ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	overflow-x: hidden;
}

body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/bg.jpg);
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header2{
    min-height: 50vh;
	width:100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/bg.jpg);
	background-position: 1;
	background-size: cover;
	position: relative;
    margin-bottom: -100px;
}

.text-box2 h1{
	width: 100%;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
    font-size: 40px;
}

.text-box2 p {
	padding-top: 120px;
	font-size: 12px;
}

nav{
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;
}
.navi {
    margin-top: -40px;
	flex: 1;
	text-align: right;

}
.navi ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;

}
.navi ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.navi ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #0b078b ;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.navi ul li:hover::after {
	width: 100%;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	background: #162052;
	border-radius: 45rem;
}
.hero-btn:hover {
	background: #0c1f80;
	transition: 1s;
}

.user-account img {
    transform: translateY(10px);
}

#service {
	padding:  20px 0 20% ;
}

.section_title{
	text-align: center;
    justify-content: center;
	font-size: 2.25rem;
	margin-bottom: 150px;
    color: #fff;
}
.section_title::before{
	content: attr(data-heading);
	display: block;
	font-size: 1rem;
	font-weight: 500;
	color: #0a26b5;
}

.work_container{
	grid-template-columns: repeat(3, 350px);
	display: grid;
	gap: 1.8rem;
	justify-content: center;
	padding-top: 1rem;
	color: #fff; 
	margin-bottom: 250px;
}
.work_filter{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: .75rem;
	margin-bottom: 2rem;
}
.work_item{
	cursor: pointer;
	color: #00ccff;
	padding: .25rem .75rem;
	font-weight: 500;
	border-radius: .5rem;
}

.work_item:hover{
	background-color: #162052;
}
.work_item::after{
	background-color: #162052;
}
.work_card{
	background-color: rgb(2, 5, 48);
	padding: 1.25rem;
	border-radius: .5rem;
}
.portfolio_item-details{
	display: none;
}
.active_work{

	color: #00ccff;
}

.work_img{
	width: 310px;
	height: 250px;
	border-radius: .5rem;
	margin-bottom: 1rem;
}
.work_title{
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: .5rem;
}
.work_button{
	color: #00ccff;
	font-size: .875rem;
	display: flex;
	align-items: center;
	column-gap: .25rem;
	cursor: pointer;
}
.work_button-icon{
	font-size: 1rem;
	transition: .3s;
}
.work_button:hover .work_button-icon{
	transform: translateX(.25rem);
}

.outer{
	color: white;
	position: fixed;
	top: -40px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	display: none;
	transition: .3s;
	opacity:0;
}
.portfolio_popup{
	color: white;
	position: fixed;
	top: -40px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	z-index: 100;
	display: none;
	transition: .3s;
	opacity:0;
}
.portfolio_popup-open{
	opacity: 1;
	visibility: visible;
}
.portfolio_popup-info{
	float: right;
	margin-top: -300px;
}

.portfolio_popup-inner{
	background-color: rgb(39, 43, 39);
	width: 1000px;
	border-radius: .5rem;
	padding: 2.5rem;
	position: relative;
	z-index: 200;
}
.portfolio_popup-content{
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	column-gap: 3rem;
}
.portfolio_popup-close{
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	font-size: 1.5rem;
	color: rgb(220, 69, 69);
	cursor: pointer;
}


.portfolio_popup-img{
	width: 430px;
	border-radius: .5rem;
}
.portfolio_popup-subtitle{
	font-size: .812rem;
	margin-bottom: .25rem;
}
.details_title{
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
.details_description{
	font-size: .875rem;
	margin-bottom: 2rem;
}
.details_info p{
	margin-bottom: .75rem;
	text-transform: capitalize;
	font-size: .875rem;
}
.details_info p:last-child{
	margin-bottom: 0;
}
.details_info p span{
	font-weight: normal;
}
.details_info p a{
	text-transform: lowercase;
	color: #00ccff;
}

footer{
	position: relative;
	width: 100%;
	background-color: rgb(7, 13, 91);
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer .sosmed,
footer .menuu
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
footer .sosmed li,
footer .menuu li
{
	list-style: none;
}
footer .sosmed li a
{
	font-size: 2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}
footer .sosmed li a:hover{
	transform: translateY(-10px);
}
footer .menuu li a
{
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
}
footer .menuu li a:hover
{
	opacity: 1;
}
footer p {
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
footer .wave{
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../img/wave.png);
	background-size: 1000px 100px;
}
footer .wave#wave1
{
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animateWave1 4s linear infinite;
}
footer .wave#wave3
{
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWave2 3s linear infinite;
}

footer .wave#wave4
{
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animateWave3 3s linear infinite;
}

@keyframes animateWave
{
	0%{
		background-position-x: 1000px;
	}
	100%{
		background-position-x: 0px;
	}
}
@keyframes animateWave1
{
	0%{
		background-position-x: 0px;
	}
	100%{
		background-position-x: 1000px;
	}
}


/* Bagian service and porto */
.container {
    background-color: rgb(195, 203, 211);
    margin-top: -100px;
}

.about {
    padding-top: 10em;
}

.title h2{
    margin-top: 50px;
    text-align: center;

}

.konten {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.konten-about {
    width: 1100px;
    display: flex;
    margin: 0 auto;
}

.flex {
    flex-grow: 1;
}

.gif-sus img {
    position: absolute;
    width: 50px;
    left: 100%;
    transform:rotateY(180deg);
    animation: sigus 6s ease-in-out infinite;
}
/* animasi sus gif */
@keyframes sigus {
    to {
        left: -2%;
    }
}

.about-logo img{
    width: 280px;
    margin-right: 80px;
    transition: all .5s;
}

.about-logo img:hover {
    transform: rotate(-25deg);
}

.about-us {
    margin-top: 20px;
    transition: all .5s;
}

.about-us:hover {
    transform: scale(1.1);
}

/* ---------------------- SERVICE-HOME ------------------------ */

.service .title {
    opacity: 0;
    user-select: none;
}

.konten-service {
    flex-basis: 50%;
    padding: 70px;
    margin: 40px;
    background-image: linear-gradient(to bottom left, #060251, #08022b);
    border-radius: 0 30px 0 30px;
    transition: all .5s;
}


.konten-service:hover {
    transform: translateY(-50px);
}

.konten-service .card h2{
    margin: 20px;
    text-align: center;
    color: white;
}

.konten-service .card ul li {
    color: white;
}

.servie-us{
    display: flex;
    text-align: center;
    justify-content: center;
}

.servie-us p {
    color: white;
    font-size: 5em;
    margin: 0 auto;
}

.img-abso {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -111;
    
}

.img-abso img {
    height: 100vh;
    width: 150%;
    filter: brightness(40%);
}

/* ---------------------- PORTOFOLIO-HOME ------------------------ */

.portofolio {
    margin-top: 100px;
    margin-bottom: 250px;
}

.portofolio .title {
    color: white;
    margin-bottom: 5.5em;
}


.konten-porto {
    color: white;
    flex-basis: 50%;
    padding: 20px;
    margin: 5em 40px 40px;
    background-image: linear-gradient(to bottom left, #060251, #08022b);
    border-radius: 30px 0 30px;
    transition: all .5s;
}

.konten-porto:hover {
    transform: scale(1.1);
}

.konten-porto h2{
    margin-bottom: 2.5em;
}

.konten-porto a {
    text-decoration: none;
    color: white;
    text-align: right;
}

.servie-us img {
    height: 150px;
}

.img-card {
    margin-top: -6em;
}

.img-card img{
    border-radius: 0 30px 0 30px;
    width: 100%;
}



/* =====================================================================
RESPONSIVE WEB
========================================================================   */
@media screen and (max-width: 980px) {

    .konten-about {
        display: block;
        text-align: center;
    }

    .konten-about img {
        margin: 0 auto;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .konten-service {
        flex-basis: 20%;
    }

    .konten-porto {
        flex-basis: 40%;
        margin-top: 5em;
    }

    .konten {
        display: flex;
    }
}

@media screen and (max-width: 780px) {
    .konten-porto {
        flex-basis: 30%;
        
    }

    nav ul {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		background: rgb(195, 203, 211);
		box-shadow:  0 0 20px 3px #1f96cf;
		z-index: 1;
		transform: translateX(100%);
		transition: all 1s;
		opacity: 0;
	}

	nav ul.slide {
		opacity: 1;
		transform: translate(0);
	}

    nav ul li a {
        color: black;
    }

    .warna {
		padding: 10px;
	}
	.nav-toggle {
	display: flex;
    }

    .login a {
        color: #066588;
    }
    .form-group {
        flex-basis: 50%;
        margin: 30px;
        padding: 30px;
    }

    
}

@media screen and (max-width: 450px) {
    .logo img {
        margin-top: 5px;
        width: 200px;
    }

    .form-group {
        flex-basis: 50%;
        margin: 10px;
        padding: 10px;
    }

    .form-group iframe {
        display: none;
    }
    .footer img {
        width: 100px;
        display: inline-block;
    }

    .footer p{
        font-size: 13px;
    }

}