html {
    overflow-x: hidden;
}

.form-group {
    
    padding: 5rem;
    margin: 2px 5rem 20%;
    border-radius: 10px;
}

.form-group .input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.form-group .input-field .danger{
    color: rgb(207, 48, 48);
}

.form-group .input-field label {
    width: 500px;
    color: white;
}

.form-group .input-field .input {
    width: 100%;
    outline: none;
    padding: 6px;
    border-radius: 6px;

}

.form-group .input-field .select-field {
    position: relative;
    width: 100%;
    height: 37px;
    transition: all .5s ease;
}

.form-group .input-field .select-field::before {
    content: "";
    z-index: 1000;
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #02043a transparent transparent transparent;
}

.uhuy-profile {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.profile-user {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin: 0 35% 50px;
}

.photoUser {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    
}

#file {
    display: none;
}

#uplodeBtn {
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 14px 16.5px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    background-color: #0b078b;
    transform: translate(-130%, 350%);
}

#uplodeBtn i {
    font-size: 1.2rem;
}

.form-group .input-field .select-field select:focus,
.form-group .input-field .textarea:focus, 
.form-group .input-field .input:focus {
    border: 3px solid #0b078b;
}

.form-group .input-field .select-field select {
    position: relative;
    appearance: none;
    padding-left: 12px;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid ;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 6px;
}

.form-group .input-field .textarea {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    padding: 12px;
    outline: none;
}

body.body-bg-color {
    background-color: #050243;
}

.section-gap {
    padding: 80px 0 0 0;
}

.section-seperator {
    position: relative;
}

.comment {
    z-index: 100;
    position: absolute;
    right: 8%;
    top: 8.5%;
    transform: translate(-90%, 60%);
}

.comment-customer {
    position: relative;
    margin-top: -10rem;
    padding: 0 6rem 20%;
}

@media only screen and (max-width: 479px) {
    .section-flex {
        flex: none;
        display: block !important;
    }
}

.section-title span.subtitle {
    color: #141eb4;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

.section-title h2.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title h2.title {
        font-size: 38px;
        line-height: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title h2.title {
        font-size: 40px;
        margin-top: 7px;
    }
}

@media only screen and (max-width: 767px) {
    .section-title h2.title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 575px) {
    .section-title h2.title {
        font-size: 34px;
        margin: 0;
        text-align: center;
    }
}

.testi-activate {
    position: relative;
    margin: 0px 80px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testi-activate {
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testi-activate {
        margin: 0;
    }
}

@media only screen and (max-width: 767px) {
    .testi-activate {
        margin: 0;
    }
}

.testi-activate button.slide-arrow {
    font-size: 25px;
    position: absolute;
    right: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: linear-gradient(145deg, #0d0461, #02043a);
    box-shadow: 10px 10px 19px #0f0e2a, -10px -10px 19px #0f0b31;
    border: 0 none;
    top: 50px;
    z-index: 3;
    border-radius: 6px;
}

.testi-activate button.slide-arrow:focus {
    bottom: 0;
    outline: 0;
}

.testi-activate button.slide-arrow.prev-arrow {
    right: 105px;
}

@media only screen and (max-width: 575px) {
    .testi-activate button.slide-arrow.prev-arrow {
        right: 80px;
    }
}

.testi-activate button.slide-arrow::after {
    content: "";
    position: absolute;
    transition: 0.4s;
    width: 100%;
    border-radius: 6px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #03033a, #04044a);
    opacity: 0;
    z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testi-activate button.slide-arrow {
        top: auto;
        bottom: -70px;
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .testi-activate button.slide-arrow {
        top: auto;
        bottom: -70px;
        display: none !important;
    }
}

@media only screen and (max-width: 575px) {
    .testi-activate button.slide-arrow {
        top: auto;
        bottom: -70px;
        right: 0;
    }
}

.testi-activate button.slide-arrow:hover {
    color: #020642;
}

.testi-activate button.slide-arrow:hover::after {
    opacity: 1;
}

.testi-activate .slick-dots {
    
    width: auto;
    top: auto;
    z-index: 3;
    position: absolute;
    left: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    bottom: -40px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testi-activate .slick-dots {
        bottom: -4px;
    }
}

.testi-activate .slick-dots li {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0;
}

.testi-activate .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 11px;
    height: 11px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background: linear-gradient(145deg, #02043d, #030630);
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    border-radius: 50%;
    transition: 0.4s;
}

.uil {
    color: #c4cfde;
}

.uil:hover {
    color: #3d49eb;
}

.testi-activate .slick-dots li button::before {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testi-activate .slick-dots li button {
        bottom: 3px;
        position: relative;
    }
}

@media only screen and (max-width: 767px) {
    .testi-activate .slick-dots li button {
        bottom: 3px;
        position: relative;
    }
}

.testi-activate .slick-dots li.slick-active button {
    background: #3d49eb;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testimonial-pb {
        padding-bottom: 35px;
    }
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-50 {
    margin-top: 50px;
 
}

.mt-10 {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mt_md-40 {
        margin-top: 40px !important;
    }
}

@media only screen and (max-width: 767px) {
    .mt_sm-40 {
        margin-top: 40px !important;
    }
}

.testimonial {
    outline: none;
    padding-bottom: 25px;
}

@media only screen and (max-width: 575px) {
    .testimonial {
        margin-top: 35px !important;
    }
}

@media only screen and (max-width: 479px) {
    .testimonial {
        margin-top: 35px !important;
    }
}

.testimonial .inner {
    display: flex;
    justify-content: center;
    margin: 0px 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial .inner {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .testimonial .inner {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
    .testimonial .inner {
        display: block;
        margin: 0;
    }
}

.testimonial .inner .card-info {
    margin-right: 40px;
    max-width: 395px;
    min-width: 395px;
    padding: 30px 30px 40px 30px;
    border-radius: 10px;
    background: linear-gradient(145deg, #040936, #06093d);
    box-shadow: 10px 10px 19px #0a0637, -10px -10px 19px #0b083f;
    
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testimonial .inner .card-info {
        min-width: 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial .inner .card-info {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .testimonial .inner .card-info {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        padding: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 479px) {
    .testimonial .inner .card-info {
        margin-right: 0;
        padding: 15px;
    }
}

.testimonial .inner .card-info .card-thumbnail {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 27px;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .testimonial .inner .card-info .card-thumbnail {
        max-width: 150px;
        margin-right: 25px;
        margin-bottom: 0;
    }
}

.testimonial .inner .card-info .card-thumbnail img {
    max-width: 100%;
    height: auto;
    transition: 0.4s;
    display: inline-block !important;
    object-fit: cover;
    width: 100%;
}

.testimonial .inner .card-info .card-thumbnail img:hover {
    transform: scale(1.1);
}

.testimonial .inner .card-info .card-content .subtitle {
    font-size: 12px;
    color: #5844dc;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 22px;
}

.testimonial .inner .card-info .card-content .title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 34px;
    color: #c4cfde;
}

@media only screen and (max-width: 575px) {
    .testimonial .inner .card-info .card-content .title {
        font-size: 18px;
        line-height: 27px;
    }
}

.testimonial .inner .card-description {
    padding: 50px 40px 50px 40px;
    border-radius: 10px;
    background: linear-gradient(145deg, #04063a, #1d1d36);
    box-shadow: 10px 10px 19px #121154, -10px -10px 19px #13132d;
    margin-top: 115px;
    width: 100%;
}

@media only screen and (max-width: 479px) {
    .testimonial .inner .card-description {
        padding: 15px;
    }
}

.testimonial .inner .card-description .title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 479px) {
    .testimonial .inner .card-description .title-area {
        display: block;
    }
}

.testimonial .inner .card-description .title-area .title-info {
    text-align: left;
}

@media only screen and (max-width: 479px) {
    .testimonial .inner .card-description .title-area .title-info {
        display: block;
        margin-bottom: 25px;
    }
}

.testimonial .inner .card-description .title-area .title-info .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #c4cfde;
}

@media only screen and (max-width: 767px) {
    .testimonial .inner .card-description .title-area .title-info .title {
        font-size: 18px;
        margin-bottom: 6px;
    }
}

.testimonial .inner .card-description .title-area .title-info .date {
    font-weight: 500;
    font-size: 16px;
    color: #7c838e;
}

@media only screen and (max-width: 767px) {
    .testimonial .inner .card-description .title-area .title-info .date {
        font-size: 12px;
    }
}

.testimonial .inner .card-description .title-area .rating {
    padding: 5px 17px 9px 17px;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #0d0d31, -10px -10px 19px #0a0d36;
    display: inline-block;
}

@media only screen and (max-width :767px) {
    .testimonial .inner .card-description .title-area .rating {
        padding: 15px 25px;
        display: flex;
    }
}

@media only screen and (max-width :479px) {
    .testimonial .inner .card-description .title-area .rating {
        padding: 5px 17px 9px 17px;
        display: inline-block;
    }
}

.testimonial .inner .card-description .title-area .rating img {
    display: inline-block !important;
}

@media only screen and (max-width :767px) {
    .testimonial .inner .card-description .title-area .rating img {
        margin-right: 5px;
    }
}

.testimonial .inner .card-description .seperator {
    position: relative;
}

.testimonial .inner .card-description .seperator::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fcfcfc;
    top: 20px;
}

.testimonial .inner .card-description .description {
    margin-top: 45px;
    font-size: 18px;
    line-height: 30px;
    color: #7c838e;
}

.testimonial .inner .card-description::before {
    content: "";
    position: absolute;
    width: 512px;
    height: 5px;
    background: #181a1d;
    left: -43px;
    z-index: -1;
    top: 66px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial .inner .card-description::before {
        display: none;
    }
}

@media only screen and (max-width :767px) {
    .testimonial .inner .card-description::before {
        display: none;
    }
}

.testimonial .inner .card-description::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    left: 0;
    top: -130px;
    background: transparent;
    background-image: url(quote.png);
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial .inner .card-description::after {
        display: none;
    }
}

@media only screen and (max-width :767px) {
    .testimonial .inner .card-description::after {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial .inner .card-info {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        padding: 30px;
    }
    .testimonial .inner .card-info .card-thumbnail {
        max-width: 150px;
        margin-right: 25px;
        margin-bottom: 0;
    }
    .testimonial .inner .card-description {
        max-width: 100%;
        padding: 35px 30px;
        margin-top: 0;
    }
}

@media only screen and (max-width :767px) {
    .testimonial .inner .card-info {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        padding: 30px;
    }
    .testimonial .inner .card-info .card-thumbnail {
        max-width: 100px;
        margin-right: 25px;
        margin-bottom: 0;
    }
    .testimonial .inner .card-description {
        max-width: 100%;
        padding: 35px 30px;
        margin-top: 0;
    }
}

@media only screen and (max-width :575px) {
    .testimonial .inner .card-info {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: block;
        padding: 20px;
    }
    .testimonial .inner .card-info .card-thumbnail {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .testimonial .inner .card-description {
        max-width: 100%;
        padding: 20px;
        margin-top: 0;
    }
}

footer{
	position: relative;
	width: 100%;
	background-color: rgb(7, 13, 91);
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer .sosmed,
footer .menuu
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
footer .sosmed li,
footer .menuu li
{
	list-style: none;
}
footer .sosmed li a
{
	font-size: 2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}
footer .sosmed li a:hover{
	transform: translateY(-10px);
}
footer .menuu li a
{
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
}
footer .menuu li a:hover
{
	opacity: 1;
}
footer p {
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
footer .wave{
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../../img/wave.png);
	background-size: 1000px 100px;
}
footer .wave#wave1
{
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animateWave1 4s linear infinite;
}
footer .wave#wave3
{
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWave2 3s linear infinite;
}
footer .wave#wave4
{
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animateWave3 3s linear infinite;
}

@keyframes animateWave
{
	0%{
		background-position-x: 1000px;
	}
	100%{
		background-position-x: 0px;
	}
}
@keyframes animateWave1
{
	0%{
		background-position-x: 0px;
	}
	100%{
		background-position-x: 1000px;
	}
}




.konten {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image img {
    width: 400px;
    box-shadow: 0 0 8px 0 pink;
    border: 10px outset deeppink;
}


/* --------Crew Crew Crew------- */
.konten {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}


.intro {
    margin: 30px;
    display: flex;
    background-color: #02043a;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.25s;
}

.intro:hover {
    transform: translateY(-20px);
}

.btn-delete a {
    text-decoration: none;
    color: rgb(226, 62, 62);
    text-align: center;
}

.btn-delete button {
    z-index: 1000;
}

.konten .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #c4cfde;
}

.konten .date {
        font-weight: 500;
        font-size: 16px;
        color: #7c838e;
}
.konten .description {
    margin-top: 45px;
    font-size: 18px;
    line-height: 30px;
    color: #7c838e;
}

.data p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------------------------------------------------- */
/* ------------------ RESPONSIVE -------------------- */
/* -------------------------------------------------- */

@media screen and (max-width: 1200px){
    /* about */
    .isi {
        padding: 0;
    }

    /* quote */
    #quote .konten {
		flex-wrap: wrap;
	}#quote .intro {
		flex: 30%;
	}

    /* contact */
    #contact .kontak {
        display: flex;
        width: 80%;
    }
}
@media screen and (max-width: 1000px){
    /* crew */
    .row {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }.intro {
        flex: 20%;
    }
    
    /* kontak */
    
}
@media screen and (max-width: 980px){
    /* about */
    .isi {
        width: 95%;
		padding: 0;
    }
}
@media screen and (max-width: 780px){
   
    /* about */
    .isi {
		padding: 0;
		display: block;
	}

	.penjelasan {
		width: 60%;
		display: inline-block;
		padding-bottom: 20px;
	}

    /* quote */
    #quote .intro {
		flex: 40%;
	}

    /* kontak */
    #contact .kontak {
        display: block;
        width: 65%;
      
    }
}
@media screen and (max-width: 550px){
    /* about */
    .penjelasan {
		width: 80%;
		padding-bottom: 20px;
	}
    
     /* kontak */
     #contact .kontak {
        display: block;
        width: 85%; 
    }
}
@media screen and (max-width: 430px){
    /* about */
    .image img {
        width: 350px;
    }
    .penjelasan {
		width: 90%;
		padding-bottom: 20px;
	}

    /* quote */
    #quote .intro {
		flex: 50%;
	}

    /* kontak */
    #contact .kontak {
        display: block;
        width: 90%; 
    }
}
@media screen and (max-width: 380px){
    /* about */
    .image img {
        width: 280px;
    }
    .penjelasan {
		width: 80%;
		padding-bottom: 20px;
	}

    /* quote */
    #quote .lingkaran {
        margin: auto;
        justify-content: center;
        align-items: center;
        position: relative;
	}

    /* kontak */
    #contact .kontak {
        display: block;
        width: 95%; 
    }.saya p {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 330px){
    /* about */
    .image img {
        width: 250px;
    }
    .penjelasan {
		width: 80%;
		padding-bottom: 20px;
	}
    /* contact */
    .saya p {
        font-size: 10px;
    }
}


